body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
  text-align: center;
}
img, iframe {
  width: 50%;
  height: 500px;
}

#greeting{
  padding: 5px;
  color:blue;
  font-size: 40px;
  width: 400px;
}
section{
  padding: 1em;
  color: black;
}
body.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #1e1e1e;
}

body.dark-mode h2,body.dark-mode p{
  color: #f1f1f1;
}